name: number_slider
description: number_slider provides a digital slide displayï¼Œdecimalã€negative number ã€any symbol insertion is supported
version: 0.0.2
homepage: https://github.com/JRY1009/number_slider

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: